<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style='color:blue';>Hello my people</h1>
    <p style='color:red';>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, officiis neque vel reiciendis ipsum pariatur eaque! Enim natus, reiciendis eos provident rerum, iste consequuntur odit numquam dolor, quaerat omnis atque.</p>
</body>
</html>